
<div class="carousel slide" id="myCarousel" data-ride="carousel"> 
<div class="carousel-inner thumb-carousel-height" role="listbox">
  <div class="item active">
     <% @featured_blogs_one.each do |fb| %>
        <ul class="thumbnails list-group">	
           <li class="index-pages-li">
                <%= link_to image_tag(the_model.featured_image(fb).first.image_url(:list)), fb if the_model.featured_image(fb).first %>                 
                <span class="index-pages-li-title"><%= link_to fb.title, fb %></span>
           </li>
        </ul>

     <% end %>
  </div>
  
  <div class="item">
	  <% @featured_blogs_two.each do |fb| %>
        <ul class="thumbnails list-group">
            <li class="index-pages-li">
            <%= link_to image_tag(the_model.featured_image(fb).first.image_url(:list)), fb if the_model.featured_image(fb).first %>
            <span class="index-pages-li-title"><%= link_to fb.title, fb %></span>
            </li>
        </ul>
      <% end %>
  </div>
</div>
<!-- <a data-slide="prev" href="#myCarousel" class="left carousel-control carousel-control-mini">‹</a>
<a data-slide="next" href="#myCarousel" class="right carousel-control carousel-control-mini">›</a> -->
</div>
