<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3 style="color: #66A7C5;">Hi, <%= @user.name %></h3>
    <p>
    
      The wedding is just a little over under two months away and we are very excited!

      In order to get an accurate headcount, please respond to this email with the following:

      <ol>
      <li>1. Please confirm attendance and include your spouse / partner in the confirmation as well. </li></br></br>

      If you are attending, please provide the following: </br>
      
      <li>2. Do you have any food allergies or requirements? </li>
      <li>3. Please indicate your likelihood of attendance of a group event IF IT WERE THE FOLLOWING: </li>
         <ul>
         <li> Morning snorkeling cruise starting at 8am and ending at 2pm on Sat. 9/29 </li>
         <li> Afternoon snorkeling cruise starting at 1pm and ending at 5:30pm on Sat. 9/29 </li>
         <li> Rehearsal dinner starting at 7pm. </li>
         </ul>
    </ol>     
    Nick and Ming will update their site, <%= link_to "wedding website", "http://www.thekhuus.com" %> with engagement pictures and things to do in Oahu 
    over the next week so check back soon.
    </p>
    </br>

    <p>In case you forgot, here is your <span style="text-decoration: underline">login information</span>:
      <ul>
        <li>Username is your email in LOWERCASE</li>
        <li>Password is HUANGKHUU in UPPERCASE</li>
      </ul>  
    </p>  
    </br>
    <p>Looking forward to seeing everyone soon!</p>

  </body>
</html>