<div class="container">
  
  
  <div class="row">
    <div class="span6">
      <h2 class="pacifico-font" style="color: #ED0D42;">Bridesmaids</h2></br>
    </div>
    
    <div class="span6">
      <h2 class="pacifico-font" style="color: #66A7C5">Groomsmen</h2></br>
    </div>
  </div>
  
  <div class="row">
    <div class="span2">
      <%= margery %>
    </div>
    
    <div class="span4">
      <h3>Margery</h3>
      <p>Margery is Ming's younger sister.  She recently graduated Syracuse Univ. with a degree in Nutrition.  She loves to cook and often plays the motherly
        role in the sisterhood, taking care of both Ming and their baby sister, Rosita.</p>
    </div>
    
    <div class="span2">
      <%= farid %>
    </div>
    
    <div class="span4">
      <h3>Farid</h3>
      <p>Nick's best mate from since the 8th grade.  Farid currently resides in London with his fiancee, Cat.  If anyone is looking for a drinking partner for
        the weekend he's your man, though he is weakening in his old age.</p>
    </div>
  </div>
  </br>
  </br>
  
  
  <div class="row">
    <div class="span2">
      <%= rosita %>
    </div>
    
    <div class="span4">
      <h3>Rosita</h3>
      <p>If you think she's 12 years old, you are not too far off.  She just started her sophomore year at UMich majoring in "undecided" so if anyone has any 
        words of wisdom in this area, feel free to nag her.</p>
    </div>
    
    <div class="span2">
      <%= charlie %>
    </div>
    
    <div class="span4">
      <h3>Charlie</h3>
      <p>Nick's baby brother.  If you saw this picture and thought it was a healthier version of Nick, you are one of those many people who thinks he and Nick
        look similar, almost identical, but Ming doesn't see it at all.</p>
    </div>
  </div>
  </br>
  
  
</div>