<div class="container">
  
  
  <div class="row">
    <div class="span6">
      <h2 class="pacifico-font" style="color: #ED0D42;">Bridesmaids</h2></br>
    </div>
    
    <div class="span6">
      <h2 class="pacifico-font" style="color: #66A7C5">Groomsmen</h2></br>
    </div>
  </div>
  
  <div class="row">
    <div class="span2 bridal_pic">
    </div>
    
    <div class="span4">
      <h3>Margery</h3>
    </div>
    
    <div class="span2 bridal_pic">
    </div>
    
    <div class="span4">
      <h3>Farid</h3>
    </div>
  </div>
  </br>
  </br>
  
  
  <div class="row">
    <div class="span2 bridal_pic">
    </div>
    
    <div class="span4">
      <h3>Rosita</h3>
    </div>
    
    <div class="span2 bridal_pic">
    </div>
    
    <div class="span4">
      <h3>Anthony</h3>
    </div>
  </div>
  </br>
  
  
</div>