<h3>General Information about Hawaii</h3>
<p>As with many other tropical destinations, all islands in Hawaii offer similar water sports like snorkeling, 
  scuba diving, parasailing, wind-surfing, etc. Our suggested itinerary only include things that are special and 
  specific to each individual island. Unless you plan on splitting your time between relaxing by the resort pool 
  and booking tours the entire time you are there, you should definitely rent a car.<p/>
  
  </br>
  
  <h3 style="color: #ED0D42">Kona, The Big Island</h3>
  <p>There are two airports - Kona and Hilo on opposite sides of the island. The Four Seasons is on the side of Kona.

  The Big Island is really large and will probably require at least a week if you want to explore all of it. Visitors 
  usually come to the Big Island for its natural beauty, pristine beaches, outdoor adventures, and of course the active 
  volcano.  Understanding that it will not be possible to do everything, we listed what we think are the most interesting 
  activities to do.</p>
  
  <h4>Recommended Stay</h4><p>3-4 days</p>  
  
  </br>
  
  <%=  render "kona" %>

  </br>
  <hr/>
  </br>

<% #Maui %>

  <h3 style="color: #ED0D42">Maui</h3>
  <p>Maui is one of the most popular honeymoon destinations, and for good reasons.  It’s romantic, has waterfalls galore, 
    great beaches, and an abundance of luxury resorts for fine dining and spa treatments. If you are looking for a romantic 
    spot, this island is for you. </p>
  
  <h4>Recommended Stay</h4><p>3-4 days</p>  
  
  </br>
  
  <%=  render "maui" %>
