<div class="row">
  <div class="span4">
    <%= sept29 %>
  </div>

  <div class="span7">
    <h1>Group Meet and Greet</h1>
    <h3 style="color: #ED0D42">TBD</h3>
  </div>    
</div>

</br>
</br>
<div class="row">
  <div class="span4">
    <%= sept30 %>
  </div>

  <div class="span7">
    <h1>The Big Day!</h1>
    <h3 style="color: #ED0D42">Ceremony and Cocktail</h3>
    <h4>Sunday, September 30, 2012 | 5:00pm</h4>
    <p>Four Seasons Resort Hualālai at Historic Ka'ūpūlehu</br>
      72-100 Ka`upulehu Drive | Kailua-Kona | Hawaii 96740</br>
      <%= link_to "Four Seasons Website", "http://www.fourseasons.com/hualalai/", :target => false %></p>

    <h3 style="color: #ED0D42">Dinner and Dancing</h3>
    <h4>Sunday, September 30, 2012 | 7:00pm</h4>
    <p>Four Seasons Resort Hualālai at Historic Ka'ūpūlehu</br>
      72-100 Ka`upulehu Drive | Kailua-Kona | Hawaii 96740</br>
      <%= link_to "Four Seasons Website", "http://www.fourseasons.com/hualalai/", :target => false %>
  </div>
</div>
