<div class="container row">

  <div class="carousel slide" id="myCarouselMain" data-ride="carousel">
    <div class="carousel-inner main-carousel-height" role="listbox">
      <div class="item active">
          <div class="slide_gallery">
          <%= image_tag(@first_image.image_url(:featured)) if @first_image %>
          <span class="gallery-slideshow-caption"><%= @first_image.description if @first_image%></span>
          </div>
      </div>
    
      <% @featured_images.each do |fb| %>
      <div class="item">
        <ul>
          <li class="slide_gallery">
          <%= image_tag(fb.image_url(:featured))%>
          <span class="gallery-slideshow-caption"><%= fb.description %></span>
          </li>
        </ul>
      </div>
      <% end %>
    
    </div>
      <a data-slide="prev" href="#myCarouselMain" class="left carousel-control">‹</a>
      <a data-slide="next" href="#myCarouselMain" class="right carousel-control">›</a>
  </div>
  

<script>
  $('#myCarouselMain').carousel();
</script>
 
  <br>
  
  <h2 class="promocyja-font" style="text-align: center; font-size: 38px;">Welcome, we are <span style="font-size: 45px;">The Kings!</span></h2>

  <br>
    
  <span>As a family, we are humbled by experiences afforded through our travels and blessed with good times shared with loved ones through 
    our mutual love of food.  That is why we wanted to maintain a family website to chronicle our journeys, friends and happy memories.</span><br><br>

  <span>We hope that as you read through this website you feel as though you have been a part of our journey.</span><br><br>
    
  <span class="pull-right">Lots of love,<br><br>

	  The Kings</span>
  
</div>