<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3 style="color: #66A7C5;">Hi, <%= @user.name %></h3>
    <p>
    Nick and Ming updated their website, <%= @url %> with the following:
    <ul>
      <li>Updated wedding weekend with suggested itineraries for Kona and Maui. Other islands to come. <%= @weekend %></li>
      <li>Guestbook</li>
    </ul>  
    </p>
    </br>

    <p>In case you forgot, here is your login information:
      <ul>
        <li>Username is your email in LOWERCASE</li>
        <li>Password is HUANGKHUU in UPPERCASE</li>
      </ul>  
    </p>  
    </br>
    <p>Counting down to the big day! We are very excited!</p>

  </body>
</html>