<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3 style="color: #66A7C5;">Hi, <%= @user.name %></h3>
    
    <p>
    Our wedding is less than THREE weeks away and we are super excited!  We can't wait to celebrate with all of you!
    In the meantime, we've updated our <%= link_to "wedding website", "http://www.thekhuus.com" %> with the following:
    <ul>
      <li>Updated <%= link_to "wedding weekend", "http://www.thekhuus.com/weekend_schedule" %> with updated things to do / suggestions 
        for Kona after their recent trip there.</li>
      <li>All information on the group activity and times of ceremony and reception have been updated.</li>
      <li>There are finally pictures and bios of the bridal party.</li>
    </ul>  
    </p>
    </br>

    <p>In case you forgot, here is your <span style="text-decoration: underline">login information</span>:
      <ul>
        <li>Username is your email in LOWERCASE</li>
        <li>Password is HUANGKHUU in UPPERCASE</li>
      </ul>  
    </p>  
  </br>

  <p>See you in Kona!!!</p>
  </body>
</html>