<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3 style="color: #66A7C5;">Hi, <%= @user.name %></h3>
    <p>We want to thank those who attended again for making the effort to see us marry.  We had an amazing time and we hope you did as well. 
      Your presence made the day that much more special.  For those who couldn't attend, we hope you can still be a part of the wedding through
      the site.</p>

    <p>We have created another tab called "Photos From Friends" on the website where guests can upload and comment on pictures from the wedding.
      The functionality is not as perfect as I would like it to be, but it works for now.</p>

    <p>
    We do not have any professional photos up yet, but will update them once we get them.  As for the video, I am told it takes 3-6 months.  We will post those
    once we get them.
    </p>
    </br>

    <p>In case you forgot, here is your <span style="text-decoration: underline">login information</span>:
      <ul>
        <li>Username is your email in LOWERCASE</li>
        <li>Password is HUANGKHUU in UPPERCASE</li>
      </ul>  
    </p>  
    </br>
    <p>Thanks again!</p>

  </body>
</html>