<div class="row fields">
  <div class="span5">
    <%= f.input :ingredient_name %>
  </div>
  <div class="span4">
    <%= f.input :quantity_used %>
  </div>
  <div class="span2 offset1">  
    <p><%= link_to_remove_fields "Delete Ingredient", f %></p>
  </div>
  
   
</div>
