<% images.each do |w| %>
<ul class="index-gal-grid">
  <li class="index-gal-li">
  <%= image_tag(w.image_url(:thumb_2)) if w.image %><br>
    <div class="index-gal-text">
      <h4 class="gallery-title"><%= w.name %></h4>
      <p class="gallery-text"><%= w.description %></p>
      <p class="enlarge-fancybox"><%= link_to raw("<i class=\"icon-zoom-in icon-2x\"></i>"), w.image_url(:slide_gallery), { :class => "fancybox", :rel => "#{images}", :title => "#{w.description}" } %></p>
    </div>
  </li>
</ul>
<% end %>
