<% images.each do |t| %>
<ul class="no-margin-or-bullet test-pages-grid">
  <li class="test-pages-li">
  <%= image_tag(t.image_url(:list)) if t.image %><br>
    <div class="test-pages-text">
      <h4 class="gray-font" style="font-size: 28px; color: #756e6b; padding-bottom: 5px; border-bottom: 1px solid #aaa"><%= link_to t.name, t.send(path) %></h4>
      <p class="gray-font" style="font-family: 'Helvetica Neue', font-size: 12px; margin-top: 5px; color: #756e6b;"><%= link_to t.description, t.send(path) %></p>
      <p class="enlarge-fancybox"><%= link_to raw("<i class=\"icon-zoom-in icon-2x\"></i>"), t.image_url(:large), { :class => "fancybox", :rel => "#{images}", :title => "#{t.description}" } %></p>
    </div>
  </li>
</ul>
<% end %>
