<div class="container row">

  <div class="gallery">

    <ul class="slideshow">
        <% @featured_images.each do |feat|%>
        <li>
            <%= image_tag(feat.image_url(:featured), :title => "", :alt => truncate(feat.description, :length => 330) ) %>
        </li>
        <% end %>
    </ul>
  </div>

  <br>
  
  <h2 style="text-align: center">Hi, we are The Khuus!</h2>

  <br>
    
  <p>Since establishing ourselves as a family in Sept. 2012, we have built this website as a forum for our family to share our lives with those
    closest and dearest to us.</p>
    
    
  <p class="pull-right">Lots of love,<br><br>

  <%= signature %></p>
  
</div>