<div style="margin-left: -20px;">
  <% @all_images.each do |g| %>
  <ul class="no-margin-or-bullet test-pages-grid">
    <li class="test-pages-li">
    <%= image_tag(g.image_url(:thumb_2)) if g.image %><br>
      <div class="test-pages-text">
        <h4 style="font-size: 28px; color: black"><%= g.name %>
        <p style="font-family: 'Helvetica Neue', font-size: 12px;"><%= g.description %></p>
      </div>
    </li>
  </ul>
  <% end %>
</div>

<script>
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
  
  $(function () {
    $('#myTab a:first').tab('show');
  })
  

</script>


