<hr class="subnav-top">
<ul class="nav nav-pills" id="myTab">
  <li class="active"><a href="#wedding">WEDDING</a></li>
  <li><a href="#travel">TRAVEL</a></li>
  <li><a href="#food">FOOD</a></li>
</ul>
<hr class="subnav-bottom">

<div class="tab-content">
  <div class="tab-pane active" id="wedding">  
    <%= render :partial => 'wedding', :locals => {images: @wedding} %>      
  </div>


  <div class="tab-pane" id="travel">  
    <%= render :partial => 'travel', :locals => {images: @travel_images} %>
  </div>

  <div class="tab-pane" id="food">  
    <%= render :partial => 'food', :locals => {images: @food_images} %>
  </div>


</div>

<script>
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
  
  $(function () {
    $('#myTab a:first').tab('show');
  })
</script>