

<div style="width:700px;margin:40px auto;">
<div class="slider-wrapper theme-default controlnav-thumbs">
<div class="ribbon"></div>
<div id="nivoslider-577" class="nivoSlider" style="width:700px;height:300px;">
  <img src="http://nivo.dev7studios.com/wp-content/uploads/2011/08/nemo10-700x300.png" rel="http://nivo.dev7studios.com/wp-content/uploads/2011/08/nemo10-70x50.png" alt="" />
  <img src="http://nivo.dev7studios.com/wp-content/uploads/2011/08/slider48-700x300.png" rel="http://nivo.dev7studios.com/wp-content/uploads/2011/08/slider48-70x50.png" alt="" />
  <img src="http://nivo.dev7studios.com/wp-content/uploads/2011/08/walle47-700x300.png" rel="http://nivo.dev7studios.com/wp-content/uploads/2011/08/walle47-70x50.png" alt="" />
  <img src="http://nivo.dev7studios.com/wp-content/uploads/2011/08/cars62-700x300.png" rel="http://nivo.dev7studios.com/wp-content/uploads/2011/08/cars62-70x50.png" alt="" /></div>
</div>
<p><script type="text/javascript">
jQuery(window).load(function(){
    jQuery("#nivoslider-577").nivoSlider({
        effect:"fade",
        slices:15,
        boxCols:8,
        boxRows:4,
        animSpeed:200,
        pauseTime:3000,
        startSlide:0,
        directionNav:true,
        directionNavHide:true,
        controlNav:true,
        controlNavThumbs:true,
        controlNavThumbsFromRel:true,
        keyboardNav:true,
        pauseOnHover:true,
        manualAdvance:false
    });
});
</script>
</div>

