/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require formtastic-bootstrap
 *= require_tree .
*/

/*-----------COLOR------------*/
$red:         #ED0D42;
$beige:       #F0ECEB;
$light-blue:  #CEEBFB;
$medium-blue: #A3D6F5;
$dark-blue:   #66A7C5;
$light-red:   #EE3233;
$gray: 	      #6C7476;

@import 'bootstrap';

body {
  padding-top: 140px
  }

.welcome-pix {
  border: solid 1px #eee;
  height: 300px;
  width: 800px;
  margin-left: auto;
  margin-right: auto
  }

p, blockquote {
  font-size: 14px;
  line-height: 150%
  }
  
h5 {
  font-size: 14px;
  line-height: 150%
  }  

a {
  color: $dark-blue;
}

.login-container {
  padding-top: 150px
  }
  
#login_box {
  display:none;
	position: absolute;
  top: 250px;
  width: 158px;
  float: left;
  z-index: 2;
}

.login {
  background: #FFFFFF;
  text-align: center;
  padding: 40px 0 40px 0;
  width: 265px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  
}

.sign-out {
  position: relative;
  float: right;
  }

/*-------------NAV BAR------------------------*/
  
.navbar-inner {
  background: #FFF;
  }

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
  }



.navbar .nav > li > a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-family: PacificoRegular
  }

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: $red;
  background-color: #FFFFFF;
  }

.navbar .nav > li > a:hover {
  color: $dark-blue;
  background-color: #FFFFFF;
  } 

  
/*-------------PACIFICO FONT------------------------*/


@font-face {
  font-family: 'PacificoRegular';
  src: url('/assets/Pacifico-webfont.eot');
  src: local('PacificoRegular'), url('/assets/Pacifico-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/Pacifico-webfont.woff') format("woff"), url('/assets/Pacifico-webfont.ttf') format("truetype"), url('/assets/Pacifico-webfont.svg#PacificoRegular') format("svg");
  font-weight: normal;
  font-style: normal;
  }
  
.pacifico-font {
  font-family: 'PacificoRegular';
  }
  
  
/*-------------OPENING INDEX------------------------*/

.nyc {
  position: relative;
  left: 30px;
  width: 353px;
  height: 450px;
  top: -175px;
  z-index: 0;
  overflow:hidden;
  }
  
.plus-sign {
  position: relative;
  left: 391px;
  top: -475px;
  width: 158px;
  overflow:hidden;
  float: left
  }
  
.sydney {
  position: relative;
  left: 400px;
  right: 30px;
  top: -625px;
  width: 353px;
  height: 450px;
  z-index: 0;
  overflow:hidden;
  float: left
  } 
  
.front-ribbon{
  top: 100px;
  z-index: 1;
  }  


/*-------------EFFECTS------------------------*/
  
  .effect6
  {
      position:relative;
      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px $red inset;
         -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px $red inset;
              box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px $red inset;
  }
  .effect6:before, .effect6:after
  {
      content:"";
      position:absolute;
      z-index:-1;
      -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
      -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
      box-shadow:0 0 20px rgba(0,0,0,0.8);
      top:50%;
      bottom:0;
      left:10px;
      right:10px;
      -moz-border-radius:100px / 10px;
      border-radius:100px / 10px;
  }
  .effect6:after
  {
      right:10px;
      left:auto;
      -webkit-transform:skew(8deg) rotate(3deg);
         -moz-transform:skew(8deg) rotate(3deg);
          -ms-transform:skew(8deg) rotate(3deg);
           -o-transform:skew(8deg) rotate(3deg);
              transform:skew(8deg) rotate(3deg);
  }


/*-------------HOME ROTATING IMAGES------------------------*/

ul.slideshow {
  list-style:none;
  width:940px;
  height:400px;
  overflow:hidden;
  position:relative;
  margin:0;
  padding:0;
  }   

ul.slideshow li {
  position:absolute;
  left:0;
  right:0;
  }

ul.slideshow li.show {
  z-index:500;    
  }

ul img {
  border:none;    
  }

#slideshow-caption {
  width:300px;
  height:400px;
  position:absolute;
  float: right;
  bottom:0;
  left:620px; 
  color:#fff;
  background: $red;
  z-index:500;
  }

#slideshow-caption .slideshow-caption-container {
  padding:5px 10px;   
  z-index:1000;   
  }

#slideshow-caption h3 {
  margin:0;
  padding-top:10px;
  font-size:18px;
  color: #fff;
  line-height: 105%;
  }

#slideshow-caption p {
  margin:5px 0 0 0;
  padding-top:10px;
  font-size:14px;
  font-weight: bold;
  }
  
.featured_thumbs{  
  width: 90px;  
  height: 250px;  
  overflow: hidden; 
  position: relative;
  float: right; 
  }

.gallery{  
  width: 940px;  
  height: 400px;  
  /*border: 1px solid #F0F0F0;*/
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
	background:#FFF;
  }


/*-------------SLIDE GALLERY------------------------*/
#slide_gallery {
  background: url(bg_img.png) no-repeat;
  height: 440px;
  width: 940px;
  padding-left: 35px;
  padding-top:30px;
  position: relative;
  clear: both
  }

.slide_gallery li {
  position: relative;
  display: inline;
  margin-right: 9px;
  margin-bottom: 9px;
  float: left;
  height: 60px;
  }
  
.slide_gallery {
  position: relative;
  height: 160px;
  width: 940px;
  overflow: auto;
  padding-left: 0px;
  }
  
.nav-pills {
  margin-left: 20px;
  margin-top: -10px
  }

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: $dark-blue;
}

.slide_gallery2 li {
  position: relative;
  display: inline;
  margin-right: 9px;
  margin-bottom: 9px;
  float: left;
  height: 50px
  }
  
.gallery-slideshow-caption {
  width:860px;
  height:100px;
  position: absolute;
  float: right;
  top: 330px;
  left:35px; 
  color:#fff;
  background: $red;
  opacity:0.7;
  clear: both;
  z-index: 500
  }

.gallery-slideshow-caption .slideshow-caption-container {
  padding:5px 10px;   
  z-index:1000;   
  }

.gallery-slideshow-caption h3 {
  margin:0;
  padding-top:10px;
  font-size:18px;
  color: #fff;
  line-height: 105%;
  }

.gallery-slideshow-caption p {
  margin:5px 0 0 0;
  padding-top:10px;
  font-size:14px;
  font-weight: bold;
  }

/*-------------ACCORDION------------------------*/

.accordion-tabs {
  background-image: -moz-linear-gradient(center top , $beige, #F6F6F6);
  background-image: -ms-linear-gradient(center top , $beige, #F6F6F6);
  background-image: -khtml-gradient(linear, left top, left bottom, from($beige), to(#F6F6F6));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F6F6F6), color-stop(100%, $beige));
  background-image: -webkit-linear-gradient(top, $beige, #F6F6F6);
  background-image: -o-linear-gradient(top, $beige, #F6F6F6);
  background-image: linear-gradient(top, $beige, #F6F6F6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0ECEB', endColorstr='#F6F6F6', GradientType=0);
  
  cursor: pointer;
  height: 30px;
  border: 1px solid #FFFFFF;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px
  }
  
.indent-10-px {
  padding-left: 15px; 
  } 
  
.bridal_pic {
  width: 130px;
  height: 130px;
  border: 1px solid $gray
  }


/*-------------OUR STORY------------------------*/

.timeline {
  position: relative;
  }
  
.jpm {
  position: relative;
  left: 130px;
  top: 20px;
  float:left
  }
  
.nickandming {
  position: relative;
  left: 170px;
  float: left
  }
  
.shesaidyes {
  position: relative;
  left: 310px;
  top: 20px
  }
  
.aloha {
  position: relative;
  left: 310px;
  top: 20px
  }

.tabs {
  display: inline;
  top: -250px
  }  

/*-------------GUESTBOOK------------------------*/

.guestbook {
  padding-top: 20px;
  }
  
.existing-guestbook {
  padding-top: 30px;
  }
  
.comment-spacing {
  padding: 15px 0 0px 0;
  }

textarea  {
  width: 260px;
  height: 75px
  }

hr {
  border-bottom: 2px dashed $light-blue;
  }
  

/*-------------FRIEND PHOTOS---------------------*/

#image {
  height: 280px;
  }

.thumbs img {
  border: solid 1px #ccc;
  height: 90px;
  width: 90px;
  padding: 2px;
  margin: 3px 1px 3px 1px
  }

.thumbs {
  position: relative;
  height: 485px;
  overflow: auto;
  }
  

