/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require formtastic-bootstrap
 *= require_tree .
*/

@import 'bootstrap';

.welcome-pix {
  border: solid 1px #eee;
  height: 300px;
  width: 800px;
  margin-left: auto;
  margin-right: auto
  }


/*-------------NAV BAR------------------------*/
  
.navbar-inner {
  background: #FFF;
  }

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-image: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
  }

 
  
/*-------------PACIFICO FONT------------------------*/


@font-face {
  font-family: 'PacificoRegular';
  src: url('/vendor/assets/fonts/Pacifico-webfont.eot');
  src: local('PacificoRegular'), url('/assets/Pacifico-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/Pacifico-webfont.woff') format("woff"), url('/assets/Pacifico-webfont.ttf') format("truetype"), url('/assets/Pacifico-webfont.svg#PacificoRegular') format("svg");
  font-weight: normal;
  font-style: normal;
  }
  
.pacifico-font {
  font-family: 'PacificoRegular';
  }
  
  
/*-------------OPENING INDEX------------------------*/

.nyc {
  position: relative;
  left: 30px;
  width: 353px;
  height: 450px;
  z-index: 1;
  overflow:hidden;
  }
  
.plus-sign {
  position: relative;
  left: 391px;
  top: -300px;
  width: 158px;
  overflow:hidden;
  float: left
  }
  
.sydney {
  position: relative;
  left: 400px;
  right: 30px;
  top: -450px;
  width: 353px;
  height: 450px;
  z-index: 1;
  overflow:hidden;
  float: left
  } 
  
.index-pattern {
  background: url(save-the-date.png) no-repeat;
  position: relative;
  top: -60px;
  height: 400px; 
  z-index: 0; 

  }