/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require font-awesome
 *= require_tree .
*/

/*-----------COLOR------------*/
$red:         #ED0D42;
$beige:       #F0ECEB;
$light-blue:  #CEEBFB;
$medium-blue: #A3D6F5;
$dark-blue:   #66A7C5;
$light-red:   #EE3233;
$gray: 	      #81857E;
$turquoise:   #65BEB4;
$yellow:      #FCFC88;
$light-turquoise: #88d5c2;
$dark-gray:   #756e6b;

@import 'bootstrap';


body {
  background: transparent url("background.png") 100% 100% repeat;
  position: relative;
  padding-top: 30px;
  background-color: transparent;
  background-position: 0 0;
  font-size: 16px;
  line-height: 125%;
  color: $gray;
  padding-bottom: 85px;
  }
  
html {
  background: transparent url("background.png") 100% 100% repeat; 
  }
  
body > #container { 
  height: auto; min-height: 100%; 
  }  

#container, html, body {
  height: 100%;
  min-height:100%;  
  }
  
.container {
  background: transparent url("background.png") 100% 100% repeat; 
  }

.white-box {
  background-color: white;
  width: 920px;
  border-radius: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 4px;
  overflow: hidden;
  clear:both;
  padding: 10px;
  -moz-box-shadow: 5px 5px 5px #D8D8D8;
  -webkit-box-shadow: 5px 5px 5px #D8D8D8;
  box-shadow: 5px 5px 5px #D8D8D8;
  }      

.welcome-pix {
  border: solid 1px #eee;
  height: 300px;
  width: 800px;
  margin-left: auto;
  margin-right: auto
  }

p, blockquote {
  font-size: 14px;
  line-height: 150%;
  }
  
h5 {
  font-size: 14px;
  line-height: 150%
  }  
  
h3 {
  font-size: 38px;
  line-height: 150%;
  font-family: 'mathletebulky';
  }  

a {
  color: $turquoise;
}

.gray-font a, .gray-font a:hover {
  color: $dark-gray;
  }

a:hover {
  color: $turquoise;
  text-decoration: none;
  }

.row {
  margin-left: 20;
  }

.login-container {
  padding-top: 150px
  }
  
#login_box {
  display:none;
	position: absolute;
  top: 250px;
  width: 158px;
  float: left;
  z-index: 2;
}

.login {
  background: #FFFFFF;
  text-align: center;
  padding: 40px 0 40px 0;
  width: 265px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;  
}

.sign-out {
  position: absolute;
  right: 10px;
  background-color: transparent;
  text-align: center;
  }

.blue-dash-line {
  /*background: transparent url(dashed-blue.png) 0 100% repeat-x;*/
  position: relative;
  padding: 3px;
  }
  
.blue-dash-line:before {
  content: '';
  display: block;
  background: transparent url(dashed-blue.png) 0 100% repeat-x;
  top: 0;
  height: 4px;
  width: 100%;
  position: absolute;
  } 
  
.round-images {
  width: 90px;
	height: 90px;
	border-radius: 45px;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .5);
  }   

.btn.primary {
  background-color: $turquoise;

  background-image: -moz-linear-gradient(center top , $light-turquoise, $turquoise);
  background-image: -khtml-gradient(linear, left top, left bottom, from($light-turquoise), to($turquoise));
  background-image: -ms-linear-gradient(top, $light-turquoise, $turquoise);
  background-image: -webkit-gradient(linear, center top, left bottom, color-stop(0%, $light-turquoise), color-stop(100%, $turquoise));
  background-image: -webkit-linear-gradient(top, $light-turquoise, $turquoise);
  background-image: -o-linear-gradient(top, $light-turquoise, $turquoise);
  background-image: linear-gradient(top, $light-turquoise, $turquoise);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF9B97', endColorstr='#FF6F6A', GradientType=0);

  background-repeat: repeat-x;
  border-color: $turquoise $turquoise $light-turquoise;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }

.submit-btn-pull-right {
  padding-right: 40px;
  float: right;
  }

.input-xlarge {
  width: 650px;
  }
  
.input-xxlarge {
  width: 730px;
  }  
  
.form-horizontal .label-html{
  float: left;
  width: 230px;
  padding-right: 10px;
  padding-top: 5px;
  text-align: right;
  }  
  
input, textarea {
  font-size: 15px
  }   

.no-margin-or-bullet {
  list-style: none;
  padding: 0;
  margin-left: 0px;
  }

.center-travel-image {
  padding: 10px;
  }

.white-link, .white-link a {
  color: white;
  }
  
/*-------------NAV BAR------------------------*/
  
.navbar-inner {
  background: transparent;
  }

.navbar-inner {
  min-height: 40px;
  padding-right: 0px;
  padding-left: 0px;
  background-image: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
  }

.navbar .nav > li > a {
  color: $gray;
  text-decoration: none;
  font-size: 30px;
  font-family: mathletebulky;
  background: transparent;
  }


.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: $turquoise;
  background: transparent;
  }

.navbar .nav > li > a:hover {
  color: $turquoise;
  background: transparent;
  }  

.nav li {
  overflow: hidden;
  position: relative;
  }

.nav li:hover > a {
  color: $turquoise;
  }  

ul {
  margin: 0 0 9px 10px;
  } 

.nav {
  margin-bottom: 5px;
  } 
  
.ca-icon {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background: transparent url(photo_gallery.png) no-repeat;
  display: inline-block; /* Added display and float to make it on the same line*/
  float: left;     
}

.ca-icon2 {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: transparent url(travel.png) no-repeat;
  display: inline-block; /* Added display and float to make it on the same line*/
  float: left;
}

.ca-icon3 {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: transparent url(eats.png) no-repeat;
  display: inline-block; /* Added display and float to make it on the same line*/
  float: left;
}


.navbar .nav .active > a .ca-icon, .nav li:hover .ca-icon{
  background: transparent url(photo_gallery_active.png) no-repeat;
}

.navbar .nav .active > a .ca-icon2, .nav li:hover .ca-icon2{
  background: transparent url(travel_active.png) no-repeat;
}

.navbar .nav .active > a .ca-icon3, .nav li:hover .ca-icon3{
  background: transparent url(eats_active.png) no-repeat;
}

.nav li .ca-icon, .nav li .ca-icon2, .nav li .ca-icon3 {
    transition: all 400ms linear;
}

.nav li:hover .ca-icon, .nav li:hover .ca-icon2, .nav li:hover .ca-icon3 {
    -webkit-transform:rotate(360deg); 
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}


#full-screen-background-image {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#login_wrapper {
  position: relative;
  width: 800px;
  min-height: 200px;
  margin: 25px;

}

.simple_form_session {
  width: 220px;
  padding: 20px;
  background: transparent url(background.png) repeat;
  border: 3px solid $turquoise;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  }

/*-------------FOOTER------------------------*/

footer, {
  text-align: center;
  background: url(footer-bg.jpg) repeat scroll 0 0 transparent;
  /*background-color: #444;*/
  clear: both;
  position: relative;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  color: $light-turquoise;
  width: 100%;
  }

  
/*-------------PACIFICO FONT------------------------*/


@font-face {
  font-family: 'PacificoRegular';
  src: url('/assets/Pacifico-webfont.eot');
  src: local('PacificoRegular'), url('/assets/Pacifico-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/Pacifico-webfont.woff') format("woff"), url('/assets/Pacifico-webfont.ttf') format("truetype"), url('/assets/Pacifico-webfont.svg#PacificoRegular') format("svg");
  font-weight: normal;
  font-style: normal;
  }
  
.pacifico-font {
  font-family: 'PacificoRegular';
  }


/*-------------RALEWAY FONT------------------------*/


@font-face {
  font-family: 'Raleway';
  src: url('/assets/raleway_thin-webfont.eot');
  src: local('Raleway'), url('/assets/raleway_thin-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/raleway_thin-webfont.woff') format("woff"), url('/assets/raleway_thin-webfont.ttf') format("truetype"), url('/assets/raleway_thin-webfont.svg#Raleway') format("svg");
  font-weight: normal;
  font-style: normal;
  }

.raleway-font {
  font-family: 'Raleway';
  }



/*-------------MATHLETE FONT------------------------*/

@font-face {
  font-family: 'mathleteskinny';
  src: url('/assets/Mathlete-Skinny-webfont.eot');
  src: local('mathleteskinny'), url('/assets/Mathlete-Skinny-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/Mathlete-Skinny-webfont.woff') format("woff"), url('/assets/Mathlete-Skinny-webfont.ttf') format("truetype"), url('/assets/Mathlete-Skinny-webfont.svg#mathleteskinny') format("svg");
  font-weight: normal;
  font-style: normal;
  }

.mathlete-font {
  font-family: 'mathleteskinny';
  }  

@font-face {
  font-family: 'mathletebulky';
  src: url('/assets/Mathlete-Bulky-webfont.eot');
  src: local('mathletebulky'), url('/assets/Mathlete-Bulky-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/Mathlete-Bulky-webfont.woff') format("woff"), url('/assets/Mathlete-Bulky-webfont.ttf') format("truetype"), url('/assets/Mathlete-Bulky-webfont.svg#mathletebulky') format("svg");
  font-weight: normal;
  font-style: normal;
  }

.mathlete-bulky-font {
  font-family: 'mathletebulky';
  }  


/*-------------FREEBOOTERSCRIPT FONT------------------------*/

@font-face {
  font-family: 'freebooter_scriptregular';
  src: url('/assets/freebooterscript-webfont.eot');
  src: local('freebooter_scriptregular'), url('/assets/freebooterscript-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/freebooterscript-webfont.woff') format("woff"), url('/assets/freebooterscript-webfont.ttf') format("truetype"), url('/assets/freebooterscript-webfont.svg#freebooterscript') format("svg");
  font-weight: normal;
  font-style: normal;
  }

.freebooterscript-font {
  font-family: 'freebooter_scriptregular';
  }  



/*-------------PROMOCYJA FONT------------------------*/

@font-face {
  font-family: 'promocyjamedium';
  src: url('/assets/promocyja-webfont.eot');
  src: local('promocyjamedium'), url('/assets/promocyja-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/promocyja-webfont.woff') format("woff"), url('/assets/promocyja-webfont.ttf') format("truetype"), url('/assets/promocyja-webfont.svg#promocyja') format("svg");
  font-weight: normal;
  font-style: normal;
  }

.promocyja-font {
  font-family: 'promocyjamedium';
  }
  
  
/*-------------AARGH FONT------------------------*/

@font-face {
  font-family: 'aaarghnormal';
  src: url('/assets/Aaargh-webfont.eot');
  src: local('aaarghnormal'), url('/assets/Aaargh-webfont.eot?#iefix') format("embedded-opentype"), url('/assets/Aaargh-webfont.woff') format("woff"), url('/assets/Aaargh-webfont.ttf') format("truetype"), url('/assets/Aaargh-webfont.svg#Aaargh') format("svg");
  font-weight: normal;
  font-style: normal;
  }

.aaargh-font {
  font-family: 'aaarghnormal';
  }  
  
/*-------------OPENING INDEX------------------------*/

.nyc {
  position: relative;
  left: 30px;
  width: 353px;
  height: 450px;
  top: -175px;
  z-index: 0;
  overflow:hidden;
  }
  
.plus-sign {
  position: relative;
  left: 391px;
  top: -475px;
  width: 158px;
  overflow:hidden;
  float: left
  }
  
.sydney {
  position: relative;
  left: 400px;
  right: 30px;
  top: -625px;
  width: 353px;
  height: 450px;
  z-index: 0;
  overflow:hidden;
  float: left
  } 
  
.front-ribbon{
  top: 100px;
  z-index: 1;
  }  


/*-------------EFFECTS------------------------*/
  
  .effect6
  {
      position:relative;
      -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px $red inset;
         -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px $red inset;
              box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px $red inset;
  }
  .effect6:before, .effect6:after
  {
      content:"";
      position:absolute;
      z-index:-1;
      -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
      -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
      box-shadow:0 0 20px rgba(0,0,0,0.8);
      top:50%;
      bottom:0;
      left:10px;
      right:10px;
      -moz-border-radius:100px / 10px;
      border-radius:100px / 10px;
  }
  .effect6:after
  {
      right:10px;
      left:auto;
      -webkit-transform:skew(8deg) rotate(3deg);
         -moz-transform:skew(8deg) rotate(3deg);
          -ms-transform:skew(8deg) rotate(3deg);
           -o-transform:skew(8deg) rotate(3deg);
              transform:skew(8deg) rotate(3deg);
  }


/*-------------HOME ROTATING IMAGES------------------------*/

ul.slideshow {
  list-style:none;
  width:940px;
  height:400px;
  overflow:hidden;
  position:relative;
  margin:0;
  padding:0;
  }   

ul.slideshow li {
  position:absolute;
  left:0;
  right:0;
  }

ul.slideshow li.show {
  z-index:500;    
  }

ul img {
  border:none;    
  }

#slideshow-caption {
  width:300px;
  height:400px;
  position:absolute;
  float: right;
  bottom:0;
  left:640px; 
  color:#fff;
  background: $light-turquoise;
  z-index:500;
  }

#slideshow-caption .slideshow-caption-container {
  padding:5px 10px;   
  z-index:1000;   
  }

#slideshow-caption h3 {
  margin:0;
  padding-top:10px;
  font-size:18px;
  color: #fff;
  line-height: 105%;
  }

#slideshow-caption p {
  margin:5px 0 0 0;
  padding-top:10px;
  font-size:14px;
  font-weight: bold;
  }
  
.featured_thumbs{  
  width: 90px;  
  height: 250px;  
  overflow: hidden; 
  position: relative;
  float: right; 
  }

.gallery{  
  width: 940px;  
  height: 400px;  
  /*border: 1px solid #F0F0F0;*/
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
	background:#FFF;
  }

.white-gallery-box {
  background-color: white;
  width: 900px;
  margin-left: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  height: 150px;
  overflow: auto;
  }

/*-------------SLIDE GALLERY------------------------*/
#slide_gallery {
  background: url(bg_img.png) no-repeat;
  height: 440px;
  width: 940px;
  padding-left: 35px;
  padding-top:30px;
  position: relative;
  clear: both
  }

.slide_gallery li {
  position: relative;
  display: inline;
  margin-right: 9px;
  margin-bottom: 9px;
  float: left;
  height: 60px;
  }
  
.slide_gallery {
  position: relative;
  height: 160px;
  width: 940px;
  /*overflow: auto; #removed to show all of background for overall site */
  padding-left: 0px;
  }
  
.nav-pills {
  margin-left: 0px;
  margin-top: -10px;
  padding-top: 12px;
  font-size: 12px;
  }

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: $turquoise;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.slide_gallery2 li {
  position: relative;
  display: inline;
  margin-right: 9px;
  margin-bottom: 9px;
  float: left;
  height: 50px
  }
  
.gallery-slideshow-caption {
  width:900px;
  height:100px;
  position: absolute;
  float: right;
  padding: 10px;
  left:0;
  top: 300px; 
  color:#fff;
  background: $turquoise;
  opacity:0.7;
  clear: both;
  z-index: 500
  }

.gallery-slideshow-caption .slideshow-caption-container {
  padding:5px 10px;   
  z-index:1000;   
  }

.gallery-slideshow-caption h3 {
  margin:0;
  padding-top:10px;
  font-size:18px;
  color: #fff;
  line-height: 105%;
  }

.gallery-slideshow-caption p {
  margin:5px 0 0 0;
  padding-top:10px;
  font-size:14px;
  font-weight: bold;
  }

/*-------------ACCORDION------------------------*/

.accordion-tabs {
  background-image: -moz-linear-gradient(center top , $beige, #F6F6F6);
  background-image: -ms-linear-gradient(center top , $beige, #F6F6F6);
  background-image: -khtml-gradient(linear, left top, left bottom, from($beige), to(#F6F6F6));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F6F6F6), color-stop(100%, $beige));
  background-image: -webkit-linear-gradient(top, $beige, #F6F6F6);
  background-image: -o-linear-gradient(top, $beige, #F6F6F6);
  background-image: linear-gradient(top, $beige, #F6F6F6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0ECEB', endColorstr='#F6F6F6', GradientType=0);
  
  cursor: pointer;
  height: 30px;
  border: 1px solid #FFFFFF;
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px
  }
  
.indent-10-px {
  padding-left: 15px; 
  } 
  
.bridal_pic {
  width: 130px;
  height: 130px;
  border: 1px solid $gray
  }


/*-------------OUR STORY------------------------*/

.timeline {
  position: relative;
  }
  
.jpm {
  position: relative;
  left: 130px;
  top: 20px;
  float:left
  }
  
.nickandming {
  position: relative;
  left: 170px;
  float: left
  }
  
.shesaidyes {
  position: relative;
  left: 310px;
  top: 20px
  }
  
.aloha {
  position: relative;
  left: 310px;
  top: 20px
  }

.tabs {
  display: inline;
  top: -250px
  }  

/*-------------GUESTBOOK------------------------*/

.guestbook {
  padding-top: 20px;
  }
  
.existing-guestbook {
  padding-top: 30px;
  }
  
.comment-spacing {
  padding: 15px 0 0px 0;
  }

textarea  {
  width: 260px;
  height: 75px
  }

hr {
  border-bottom: 0px;
  border-top: 0px;
  }
  

/*-------------FRIEND PHOTOS---------------------*/

#image {
  height: 280px;
  }

.thumbs img {
  border: solid 1px #ccc;
  height: 90px;
  width: 90px;
  padding: 2px;
  margin: 3px 1px 3px 1px
  }

.thumbs {
  position: relative;
  height: 485px;
  overflow: auto;
  }
  
#comment_section {
  height: 280px;
  overflow: auto;
  }


/*-------------TRAVEL BLOG---------------------*/

.white-box .travel-index-left-column {
  background-color: $turquoise;
  padding: 10px;
  color: white;
  float: left;
  margin-left: 10px;
  margin-top: -10px;
  padding-bottom: 100000px;
  margin-bottom:  -100000px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  }
  
.travel-index-right-column {
  padding: 10px;
  }

.travel-quote {
  font-size: 28px;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  } 
  
.tape-background {
  background-image: url("recipe.png");
  width: 954px;
  height: 550px;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-left: 20px;
  } 

.list-pages-li {
  position: relative;
  margin-right: 20px; 
  overflow: show;
  }

.list-pages-grid {
  height: 390px;
  width: 300px;
  float: left;
  background: white;
  overflow: hidden;
  margin: 0 0 20px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  }

.list-pages-text {
  padding: 15px 10px 10px 10px;
  width: 280px;
  }

hr.dotted {
 border-bottom: 1px dotted $gray;
 margin: 12px 0;
 }
 
.display-inline div {
  display: inline-block;
  padding: 0 20px 0 20px;
  } 



#myCarouselMain {
  height: 400px;
  }  

#myCarousel2 img {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
}

.main-carousel-height {
  height: 400px;
  }

.thumb-carousel-height {
  height: 180px;
  }

/*.carousel, .carousel-inner {
height: 180px;
}*/

.thumbnails li img {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  }

.thumbnails li:hover img {
  opacity:0.2;
  filter:alpha(opacity=20); /* For IE8 and earlier */
  /*-webkit-filter: grayscale(80%);
  -moz-transform: rotate(-5deg);  
  -o-transform: rotate(-5deg);  
  -webkit-transform: rotate(-5deg);  
  transform: rotate(-5deg);*/
  }
  
.index-pages-li-title {
  position: absolute;
  width: 300px;
  opacity: 0;
  font-family: 'mathletebulky';
  font-size: 30px;
  top: 60px;
  line-height: 35px;
  text-align: center;
  }
  
.index-pages-li-title a {
  color: $dark-gray;
  }  
    
.thumbnails li:hover > .index-pages-li-title {
  opacity: 1;
  } 
  
.carousel-control {   
  top: 50%
  }




/*-------------GALLERY INDEX---------------------*/

.test-pages-li {
  position: relative;
  margin-left: 0px; 
  overflow: show;
  }
  
.test-pages-grid img{
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-o-transition: all .5s ease;
-ms-transition: all .5s ease;
transition: all .5s ease;
  }  

.test-pages-grid li:hover img {
  /*-moz-transform: rotate(-5deg);  
  -o-transform: rotate(-5deg);  
  -webkit-transform: rotate(-5deg);  
  transform: rotate(-5deg);*/
  transform:scale(1.1);
  -ms-transform:scale(1.1); /* IE 9 */
  -moz-transform:scale(1.1); /* Firefox */
  -webkit-transform:scale(1.1); /* Safari and Chrome */
  -o-transform:scale(1.1); /* Opera */
  opacity:0.2;
  filter:alpha(opacity=20); /* For IE8 and earlier */
  }

.test-pages-grid {
  height: 180px;
  width: 300px;
  float: left;
  background: white;
  overflow: hidden;
  margin: 0 0px 20px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  }

.test-pages-text {
  padding: 15px 10px 10px 10px;
  width: 280px;
  position: absolute;
  opacity: 0;
  filter:alpha(opacity=0); /* For IE8 and earlier */
  font-family: 'mathletebulky';
  font-size: 30px;
  color: black;
  top: 10px;
  line-height: 35px;
  text-align: center;
  }

.test-pages-grid li:hover > .test-pages-text {
  opacity: 1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
  }
  

.enlarge-fancybox {
  background-color: $turquoise;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0px;
  top: 120px;
  opacity:0.8;
  padding: 10px 0 10px 0;
  filter:alpha(opacity=80); /* For IE8 and earlier */
  font-family: 'mathletebulky';
  }

.fancybox-title {
  text-align: center;
  }

.icon-zoom-in {
color: white;
  }
  
hr.subnav-top {
  border: 1px dashed $gray;
  margin-bottom: 1px;
  margin-top: 2px
  }

hr.subnav-bottom {
  border: 1px dashed $gray;
  margin-top: 5px;
  z-index: 1;
  }
  

